body{
    padding: 0;
}

header{
    width: 100vw;
    height: 11vh;
    background: rgba(73, 69, 69, 0.72);
    padding: 10px;
    position: relative;
}

.container{
    display: flex;
}

h1{
    font-size: 24px;
    margin-left: 40px;
    color: white;
}

.icon{
    position: absolute;
    font-size: 24px;
    color: white;
    top : 10px;
    right: 30px;
}




